.container {
    display: flex;
    flex-direction: column;
}

.grid-row {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.grid-item {
    margin: 8px;
    height: 100px;
    width: 100px;
    background-color: grey;
}