body {
    height: 100vh;
    background-color: grey;
}

.header {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.content {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 960px;
    height: 960px;
    flex: 1 1 auto;
}

.grid-row {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
}

.grid-item {
    margin: 0;
    width: 100px;
    flex: 1 1 auto;
    background-color: white;
}

.grid-item-hover {
    background-color: black;
}

button {
    font-size: 24px;
}